  :root{
--color-primer:#04478f
  }
  
  
  .Button{
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
        padding: 7px;
        background-color: var(--color-primer);
        border: 2px solid transparent;
        color: white;
        font-size: 0.9em;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 500;
        /* font-weight:bolder; */
      }

      .Button:hover {
        border: 2px solid var(--color-primer);
        background-color: rgba(163, 13, 13, 0);
        color: var(--color-primer);
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }